/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
    font-family: "UniSansBold";
    src: url('UniSansBold.ttf');

    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "UniSans";
    src: url('UniSans.ttf');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Ministry";
    src: url('Ministry.ttf');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Whitney";
    src: url('whitneymedium.otf');

    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Whitney";
    src: url('whitneybold.otf');

    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "WhitneyLight";
    src: url('whitneylight.otf');

    font-weight: "normal";
    font-style: normal;
}

@font-face {
    font-family: "WhitneySemi";
    src: url('whitneysemibold.otf');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "WhitneyBook";
    src: url('whitneybook.otf');

    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Neue";
    src: url('HelveticaNeue.ttf');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ABC Ginto";
    src: url('ABCGinto.otf');

    font-weight: normal;
    font-style: normal;
}


body
{
    background-color: #36393f;
    margin: 0px;
    overflow: hidden;
}

.invisible{
    display: none;
}

ul, li{
    list-style: none;
}

.server-icons img{
    width: 50px; /* you can use % */
    height: auto;
    border-radius: 50%;
}

main{
    display: flex;
    column-gap: 0px;
    width: 100%;
}

.bigdiv{
    width: 100%;
}

.userFooter{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px;
    width: 224px;
    /* margin-top: auto; */
    height: 52px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #292b2f;
    bottom: 0px;
    position: absolute;
 }

 .userFooter h2{
    font-family: "Whitney", "Helvetica Neue";
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    font-size: 14px;
    padding-top: 0px;
 }

 .userFooter p{
    font-family: "Whitney", "Helvetica Neue";
    color: #B9BBBE;
    font-size: 12px;
 }


#settings-icon{
   
    height: 20px;
    width: 20px;
}

.userFooter button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    height: 32px;
    width: 32px;
    margin-left: auto;
    margin-right: 0px;
}

.modal-full
{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9;
}

.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
  }


.modal-background-transparent {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 8;
  }

.modal-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
  }

  .modal-child-offset1 {
    position: fixed;
    top: 49.5px;
    right: 296px;
    z-index: 11;
  }

input:focus{
    outline: none;
}

#settings-button{
    display: flex;
    align-items: center;
    background-color: none;
    border-radius: 6px;
    width: 32px;
    height: 32px;
}

#settings-button:hover{
    background-color: #2f3136;
}

#add-server-button img{
    width: 20px;
    height: auto;
}

.server-link img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}