#welcome
{
    width: 100vw;
}

.login-form{
    width: 100%;
}

.login-form-container img{
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.login-form-box{
    position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 32px;
	width: 34%;
    max-width: 520px;
	border-radius: 8px;
    border-color: none;
    background-color: #36393F;
    animation-delay: 250ms;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.login-form-box h1{
    color:white;
    font-size: 28px;
    font-family: "Whitney";
    font-weight: bold;
    margin-top: 0px;
}

.login-form-box h3{
    color:#B9BBBE;
    font-size: 16px;
    font-family: "Whitney";
    font-weight: normal;
    margin-top: 0px;
}

.login-form-box label{
    font-family: "Neue";
    font-size: 12px;
    font-weight: normal;
    color: #b9bbbe;
}

.to-the-left {
    display: flex;
    justify-content: left;
    text-align: left;
    align-items: left;
    flex-flow: column;
}

.to-the-left input{
    width: 100%;
    height: 20px;
}

.session-submit{
    width: 100%;
    background-color: #5865F2;
    color: white;
    font-size: 14px;
    font-family: "Whitney";
    border: none;
    border-radius: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

.to-the-left input{
    
    background-color: #202225;
    font-family: 'Whitney';
    font-size: 16px;
    height: 32px;
    color: #dcddde;
    border: none;
    border-radius: 3px;
    text-indent: 16px;
    margin-top: 8px;
    margin-bottom: 16px;
}

#bruh9201{
    color: #72767D;
    font-size: 14px;
    font-family: "WhitneyLight", "Whitney", "Helvetica Neue";
    text-decoration: none;
}

#bruh9300{
    display: flex;
    justify-content: flex-start;
    margin-top: 8px;
}

#auth-links{
    color: #00AFF4;
    font-size: 14px;
    font-family: "Whitney", "Helvetica Neue";
    text-decoration: none;
}

#bruh9203{
    color: #00AFF4;
    font-size: 14px;
    font-family: "Whitney", "Helvetica Neue";
    text-decoration: none;
}

#bruh9203:hover{
    cursor: pointer;
    text-decoration: underline;
}

#auth-links:hover{
    text-decoration: underline;
}