.login-form-container img{
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.login-form-box{
    position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 32px;
	width: 34%;
    max-width: 520px;
	border-radius: 8px;
    border-color: none;
    background-color: #36393F;
    animation-delay: 250ms;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.login-form-box h1{
    color:white;
    font-size: 28px;
    font-family: "Whitney";
    font-weight: bold;
}

.login-form-box h3{
    color:#B9BBBE;
    font-size: 16px;
    font-family: "Whitney";
    font-weight: normal;
}

.login-form-box label{
    font-family: "Neue";
    font-size: 12px;
    font-weight: normal;
    color: #b9bbbe;
    padding-top: 15px;
}

.to-the-left {
    display: flex;
    justify-content: left;
    text-align: left;
    align-items: left;
    flex-flow: column;
}

.to-the-left input{
    width: 100%;
    height: 20px;
}