#logout-modal{
    width: 33vw;
    height: 30vh;
    background-color: #36393f;
    position: relative;
    border-radius: 5px;

}

#logout-modal h1{
    font-size: 20px;
    font-family: "ABC Ginto";
    padding: 16px;
    color: white;
    margin-bottom: 0px;
}

#logout-modal h2{
    font-size: 16px;
    font-family: "Whitney";
    padding-left: 16px;
    padding-top: 0px;
    color: #DCDDDE;
}

#logout-modal-bottom{
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 16px;
    height: 70px;
    background: #2F3136;
    width: calc(33vw - 16px);
}

#logout-modal-bottom button{
    min-height: 38px;
    min-width: 96px;
    font-family: "Whitney";
    font-size: 14px;
    color: white;
    border: none;
}

.edit-modal-bottom button{
    min-height: 38px;
    min-width: 96px;
    font-family: "Whitney";
    font-size: 14px;
    color: white;
    border: none;
}

#edit-nickname-modal{
    width: 33vw;
    min-height: 170px;
    background-color: #36393f;
    position: relative;
    border-radius: 5px;
    padding-top: 16px;
}

#invite-users-modal{
    width: 40vw;
    min-height: 160px;
    background-color: #36393f;
    position: relative;
    border-radius: 5px;
    padding-top: 16px;
}

.cancel1{
    background-color: transparent;
}

.cancel1:hover{
    text-decoration:underline;
}

#logout1{
    background-color: #D83C3E;
    border-radius: 3.5px;
}

#logout1:hover{
    background-color: #A12D2F;
}

#edit-username-modal{
    width: 33vw;
    min-height: 370px;
    background-color: #36393f;
    position: relative;
    border-radius: 5px;
}

#edit-email-modal{
    width: 33vw;
    min-height: 370px;
    background-color: #36393f;
    position: relative;
    border-radius: 5px;
    z-index: 12;
}

#edit-password-modal{
    width: 33vw;
    min-height: 450px;
    background-color: #36393f;
    position: relative;
    border-radius: 5px;
    z-index: 12;
}


.top1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.top1 h1{
    font-size: 24px;
    font-family: "Whitney";
    color: white;
    margin: 0px;
    margin-bottom: 8px;
}

.top1 h3{
    font-size: 16px;
    font-family: "Whitney";
    color: #B9BBBE;
    margin: 0px;
    padding-left: 16px;
    padding-right: 16px;
}

#mid1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#mid1 label{
    font-family: "Neue";
    font-size: 12px;
    font-weight: normal;
    color: #b9bbbe;
    margin-left: 12px;
}

#mid1 input{
    display: block;
    margin-left: 12px;
    margin-right: 12px;
    background-color: #202225;
    width: 94%;
    height: 40px;
    font-family: 'Whitney';
    font-size: 16px;
    color: #dcddde;
    border: none;
    border-radius: 3px;
    text-indent: 16px;
    margin-top: 8px;
    margin-bottom: 16px;
}


.edit-modal-bottom{
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 16px;
    height: 70px;
    background: #2F3136;
    width: calc(33vw - 16px);
}

.submit1{
    background-color: #5865F2;
    border-radius: 3.5px;
    color: white;
}

.modal-errors ul{
    margin: 0px;
    padding-left: 16px;
}

.modal-errors li{
    color:#D83C3E;
    font-size: 14px;
    font-family: "Whitney", "Helvetica Neue";
}

#create-server-modal{
    width: 440px;
    height: 404px;
    background-color: white;
    border-radius: 5px;
}

.bot2{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.top2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 440px;
    height: 102px;
}

.top2 h1{
    font-family: "ABC Ginto";
    font-size: 25px;
    color: #060607;
    margin: 0px;
    padding: 0px;
    margin-top: 24px;
}

.top2 h2{
    font-family: "WhitneyLight";
    color: #4f5660;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    margin-top: 8px;
    text-align: center;
    width: 392px;
}

.bot2{
    background-color: #F2F3F5;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0px;
    height: 70px;
    align-items: center;
    width: 100%;
}

.mid2{
    padding-left: 16px;
}

.mid2 h5{
    font-size: 12px;
    font-family: "ABC Ginto";
    color: #4f5660;
    margin-bottom: 8px;
}

.bot2 button{
    margin-left: 4px;
    margin-right: 4px;
    font-family: "Whitney", "Helvetica Neue";
    font-size: 14px;
}

#back-button-1{
    background-color: transparent;
    text-decoration: none;
}


#bruh9861{
    background-color: #e3e5e8;
    border-radius: 4px;
    padding: 10px;
    color:#2e3338;
    width: 90%;
}

.bot2 button{
    min-height: 38px;
    min-width: 96px;
    border: none;
    margin-left: 16px;
    margin-right: 16px;
}

#img-uploader1{
    display: none;
}

#bruh9567{
    position: relative;
    left: 38%;
    margin-top: 28px;
}

#server-img-preview{
    width: 100px;
    height: 100px;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 28px;
    margin-left: calc(50% - 58px);
    border-radius: 50%;
}

/*Modals*/

#dropdown {
    position: absolute;
    width: 220px;
    top: 40px;
    left: 81px;
    background-color: #18191c;
    border-radius: 5px;
    z-index: 11;
}

.dropdown-list1
{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    gap: 4px;
}

.dropdown-list1 button{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 204px;
    height: 32px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 4px;
    border: none;
    font-size: 15px;
    font-family: "Whitney";
    background-color: #18191c;
}

.dropdown-list1 button:hover{
    background: #4752C4;
    color: white;
}

.otherbutt{
    color: #B9BBBE;
}

.invbutt{
    color: #949CF7
}

.leavebutt{
    color: #ED4425;
}

#bruh3098{
    font-family: "ABC Ginto", "Helvetica Neue";
    font-weight: 600;
    min-width: 500px;
    color: white;
    font-size: 16px;
    text-align: center;
    padding-bottom: 10px;
}

#bruh3094{
    display: flex;
    justify-content: space-between;
}

#bruh3094:hover p{
    color: white;
}

#bruh3094:hover{
    background-color: #43474d;

}

#bruh3095{
    display: flex;
    justify-content: space-between;
    background-color: #43474D;
}

#bruh3095 p{
    color: white;
}

#copy-link{
    transform: translate(-0%, -50%);
    top: 28px;
    position: absolute;
    right: 26px;
    background-color: #5865F2;
    color: white;
    font-size: 14px;
    font-family: "Whitney";
    border: none;
    border-radius: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

#delete-server-modal{
    width: 40vw;
    min-height: 300px;
    background-color: #36393f;
    position: relative;
    border-radius: 5px;
}

#edit-bio-modal{
    width: 33vw;
    min-height: 250px;
    background-color: #36393f;
    position: relative;
    border-radius: 5px;
}

#bruh0499{
    width: calc(40vw - 16px);
}

#user-modal{
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: #18191c;
    min-width: 300px;
    min-height: 360px;
    position: relative;
    border-radius: 5px;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

#user-modal hr{
    width: 300px;
    border: none;
    border-top: 1px solid gray;
    opacity: 0.5;
}

#user-modal h1{
    font-size: 20px;
    color: white;
    font-family: "ABC Ginto", "Helvetica Neue";
    margin-top: 0px;
    margin-bottom: 0px;
}

#user-modal h3{
    font-size: 14px;
    color: #B9BBBE;
    font-family: Whitney, "Helvetica Neue";
    font-weight: 150;
}

#user-modal label{
    font-size: 12px;
    color: #B9BBBE;
    font-family: Whitney, "Helvetica Neue";
    font-weight: 800;
}

#msg-form-bubble2{
    display: flex;
    align-items: center;
    background-color: #40444b;
    width: 300px;
    height: 44px;
    border-radius: 5px;
}

#msg-form2{
    display: flex;
    align-items: center;
    padding-left: 16px;
    width: 100%;
}

#msg-form2 input{
    background-color: #40444b;
    border: none;
    height: 22px;
    color: white;
    font-size: 14px;
    font-family: Whitney, "Helvetica Neue";
}

#dropdown button{
    display: flex;
    justify-content: space-between; 
}

#dropdown path:hover{
    fill: white;
}