#server-sidebar {
    position: relative;
    height: 100vh;
    min-width: 72px;
    max-width: 72px;
    background-color: #202225;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
}


#server-sidebar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding-left: 0;
}

#server-sidebar > ul > li {
    display: flex;
    justify-content: center;
   width: 72px;
   height: 58px;
   border-bottom: #202225 1px solid;
   border-left: #202225 2px solid;
   border-right: #202225 2px solid;
   background-color: #202225;
}

#server-sidebar div{
    margin-top: 6px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #36393f;
    border-radius: 30px;
 }
 

.server-link {
    color: #dcddde;
    text-decoration: inherit;
    font-size: 20px;
}

#add-server-button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #36393f;
    margin-top: 4px;
}

.server-link-top{
    color: #dcddde;
    text-decoration: inherit;
    font-size: 20px;
    border-top: 1.5px #2F3136 solid;
    padding-top: 4px;
}

#bruh4444{
    position: absolute;
}

.server-icons aside{
    position: absolute;
    bottom: 2px;
    right: -1.5px;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.server-icons p{
    color: white;
    z-index: 3;
    font-size: 12px;
    font-family: Whitney, "Helvetica Neue";
}